<a href="https://colab.research.google.com/github/ShamanChandini/Colaboratory_practice/blob/main/DecisionTree2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import numpy as np
import pandas as pd
import math

In [17]:
dt=pd.read_csv("/content/ENJOYSPORT.csv")

In [18]:
print(dt)

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [19]:
target=dt.iloc[:,-1]
sky=dt.iloc[:,0:1]

In [20]:
dt

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [22]:
pip install math

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math

In [24]:
import math
yes=0
no=0
for i in range(len(target)):
  if target[i]=="yes":
    yes=yes+1
  else:
    no=no+1
print(yes)
entropy=-(yes/len(target))*math.log((yes/len(target)),2)-(no/len(target))*math.log(no/len(target),2)
print(entropy)

3
0.8112781244591328

In [26]:
target=np.array(dt)[:,0]

In [28]:
print(target)

['Sunny' 'Sunny' 'Rainy' 'Sunny']

In [32]:
Sunny=0
Rainy=0
for i in range(len(target)):
  if target[i]=="Sunny":
    Sunny=Sunny+1
  else: 
    target[i]=="Rainy"
    Rainy=Rainy+1
print(Sunny)
print(Rainy)

3
1

In [43]:
entropy=-(Sunny/len(target))*math.log((Sunny/len(target)),2)-(Rainy/len(target))*math.log(Rainy/len(target),2)
print(entropy)

0.8112781244591328

In [44]:
target=np.array(dt)[:,2]
print(target)

['Normal' 'High' 'High' 'High']

In [45]:
Normal=0
High=0
for i in range(len(target)):
  if target[i]=="Normal":
    Normal=Normal+1
  else: 
    High=High+1
print(High)
print(Normal)
entropy=-(Normal/len(target))*math.log((Normal/len(target)),2)-(High/len(target))*math.log(High/len(target),2)
print(entropy)

3
1
0.8112781244591328